{% extends "blog/base.html" %}

{% block title %}Subscribe{% endblock %}

{% block content %}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <h1>Subscribe</h1>
      <p>Enter your e-mail below and get notified on the latest blog posts</p>
    <form action="." method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Subscribe" size="40">
    </form>
{% endblock %}