{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
  <html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <span class="logo">
        <a style="color:#f15a22;" href="/">Rowdy Blog</a>
      </span>
      <ul class="menu">
        <li>
          <a href="{% url "blog:post_search" %}">Search</a>
        </li>
        <li>
          <a href="{% url "blog:subscribe" %}">Subscribe</a>
        </li>
      </ul>

      <span class="user">
          <a href="#">Log-in</a>
          {# <a href="{% url "login" %}">Log-in</a> #}
      </span>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <div id="sidebar">
      <h2>Rowdy Blog</h2>
        <p>This is my blog. I've written {% total_posts %} posts so far.</p>
      <h3>Latest posts</h3>
      {% show_latest_posts 3 %}
      <h3>Most popular posts</h3>
      {% get_most_commented_posts as most_commented_posts %}
      <ul>
        {% for post in most_commented_posts %}
          <li>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>